aws
aws_completer
crc
ctags
dep
ebrowse
emacs
emacs-27.0.90
emacsclient
etags
dlv
gh
gimme
glide
golangci-lint
imagebuilder
kind
kubectl
logcli
minikube
oc
oadm
openshift-install
openshift-tests
promtail
protoc
telepresence
vagrant
yq
